@import "../../index.css";
.project_container{
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1%;
    grid-row-gap: 2%;

}
.project_container img{
    width: 100%;
}