@import "../../../../index.css";
a{
    text-decoration: none;
    color: black;
    transition-duration: 500ms;
}

a:hover{
    transform: scale(1.03);
}
.cover{
    width:100vw;
    z-index: 0;
}
.content_container{
    padding: 2% 18%;
}
.content_container img{
    width: 100%;
}
.content_container h5{
    margin-bottom: 2%;
}
.content_container h4{
    margin-bottom: 2%;
}
.content_container li{
    text-align: justify;
    padding: 0 1% 2% 1%;
}
.content_container h5::after{
    display: block;
    content: "";
    background-color: #c00000;
    height: 3px;
    border-radius: 3px;
    width: 20%;
}
.row2_4_6{
    display: grid;
    grid-template-columns: 40% 55%;
}
.row2_3_7{
    display: grid;
    grid-template-columns: 30% 65%;
}
.row2_6_4{
    display: grid;
    grid-template-columns: 55% 40%;
}
.row2_5_5{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}
.row3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    text-align: left;
}
.row3 h5{
    text-transform: uppercase;
}
.row1{
    padding: 2% 0;
    text-align: center;
    margin: 2% 0;
}
.row5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.logo {
    height: 200px !important;
    width: auto !important;
}
.screen {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: solid 3px rgb(255, 255, 255);
}
.center{
    text-align: center;
}