@import url(../../index.css);
.navbar {
  padding: 1% 8%;
  height: 54px;
  background-color: #fff6e8;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar_leftcomponent {
  float: left;
  height: 100%;
}

.navbar_leftcomponent img {
  height: 100%;
}
.navbar_rightcomponent .active_link,
.navbar_rightcomponent .normal_link {
  float: right;
  display: block;
  margin-left: 4%;
  text-decoration: none;
  font-size: 16px;
}
.active_link {
  color: #004141;
}
.normal_link {
  color: #42bb89;
}
.normal_link:hover {
  color: #004141;
}
