@import url(../../index.css);
.navbar {
  padding: 1% 8%;
  height: 54px;
  background-color: #AFECE8;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar_leftcomponent {
  float: left;
  height: 100%;
}

.navbar_leftcomponent img {
  height: 100%;
}
.navbar_rightcomponent .active_link,
.navbar_rightcomponent .normal_link {
  float: right;
  display: block;
  margin-left: 4%;
  text-decoration: none;
  font-size: 16px;
}
.active_link {
  color: #001b1b;
}
.normal_link {
  color: #00a79b;
}
.normal_link:hover {
  color: #004d47;
}
