@import url(../../index.css);
.navbar {
  padding: 0.5% 8%;
  height: 54px;
  background-color: #fff6e8;
}
.navbar_leftcomponent {
    float: left;
    height: 80%;
  }

  .navbar_leftcomponent img{
    display: block;
    margin-top: 8%;
    height: 70%;
  }
.navbar_rightcomponent .active_link,
.navbar_rightcomponent .normal_link {
  float: right;
  display: block;
  margin-left: 4%;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}
.active_link {
  color: #004141;
}
.normal_link{
    color: #42bb89;
}
.normal_link:hover {
  color: #004141;
}
