body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FFFBF4;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-size: 16px;
}
h5{
  font-size: 16px;
  font-weight: 600;
}
h4{
  font-size: 20px;
  font-weight: 600;
}